[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn app:app --bind 0.0.0.0:$PORT --workers=1 --timeout=120"
healthCheckPath = "/"
healthCheckTimeout = 300

[environments]
  [environments.production]
    [environments.production.variables]
      FLASK_ENV = "production"