[build]
builder = "nixpacks"

[deploy]
startCommand = "bash start.sh"
healthCheckPath = "/login"
healthCheckTimeout = 300


[environments]
  [environments.production]
    [environments.production.variables]
      FLASK_ENV = "production"